<div class="row">
  <div class="col-sm-12">
    <% if schedule.lunch_finishing_time.present? %>
      <div class="form-group">
        <%= form.label :leaving_time %>
        <%= form.time_field :leaving_time, class: "form-control" %>
      </div>
    <% else %>
      <div class="form-group">
        <%= form.label :leaving_time %>
        <%= form.time_field :leaving_time, class: "form-control", readonly: true %>
      </div>
    <% end %>
  </div>
</div>