<% if action_name == "edit" %> 
  <div class="col-sm-6">
    <div class="form-group">
      <%= form.label :lunch_finishing_time %>
      <%= form.time_field :lunch_finishing_time, class: "form-control", required: "required", min: set_min_lunch_finishing_time(schedule) %>
    </div>
  </div>
<% end %>  