<div class="card shadow p-3 mb-5">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-4">
        Registros
      </div>
      <div class="col-sm-2"></div>
      <div class="col-sm-6 pull-right">
        <%= render partial: "search_form" %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= render partial: "schedules", locals: { schedules: @schedules }%>
  </div>
  <div class="card-footer">
    <%= link_to new_interns_schedule_path, class: "btn btn-primary btn-sm #{set_link_behavior}" do %>
      <span>Novo ponto</span></a>
    <% end %>
  </div>
</div>